language: java
jdk:
  - oraclejdk8
branches:
  only:
    - master
script: mvn -f sample.application/build/pom.xml clean verify
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
after_success:
  - mvn -f sample.application/build/pom.xml clean test jacoco:report coveralls:report